<section class="landing-page">
    <img [src]="Behind" alt="bck" class="behind">
    <div class="split">
        <img [src]="Photos" alt="" class="hero-right">

        <div class="hero-left">
            <h1 class="logo">Photography</h1>
            <h1 class="form-title">
                Create your account
            </h1>
            <p class="form-subtitle">
                Please enter the required informations
            </p>
            <form  class="auth-form">
                <input type="text" class="input-area" placeholder="Full Name"  name="name" required/>
                <input type="text" class="input-area" placeholder="Username" name="userName" required/>
                <input type="email" class="input-area" placeholder="Email" name="email" required/>
                <div class="input-area">
                    <input [type]="'password'"  class="pw" placeholder="Password" />
                    
                </div>
            
                <button class="primary-btn" type="submit" >Sign up</button>

                <p class="text">You already have an account? <a routerLink="/login" class="primary-text">Sign in</a></p>
            </form>
            
        </div>
    </div>
</section>
